<div class="card flex-row">
  <img src="{{user.image}}" class="card-img-top w-25" alt="avatar-img">
  <div class="card-body">
    <h2>{{user.name}}</h2>
    <p class="card-text">{{user.email}}</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
  </div>
</div>